<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793509/blob/main/Semana%203%20-%20Actividad%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---


üöÄ **Semana 3 - Actividad 1**: Conceptos de bases de datos, almacenes de datos, tipos de datos y realizar la limpieza de un conjunto de datos.

üìë **Asignatura:** Ciencia y anal√≠tica de datos

üßë **Alumno:** Alberto Jos√© Garc√≠a Porras (Matr√≠cula No. **A01793509**)

üßë **Profesor**: Jobish Vallikavungal Devassia

üìÖ Octubre 3 del 2022

---

**1era Parte:** Describe tus insights o entendimiento de cada uno de los subtemas;
 .  

*   *Fundamentos de bases de datos y para ciencia de datos:* 

    La materia prima b√°sica para que la ciencia de datos opere son precisamente los datos, es por ello que el primer paso para comenzar a trabajar es saber de donde los tomamos y uno de los factores clave en esta ecuaci√≥n son las bases de datos. Una base de datos es un sistema que permite gestionar y almacenar informaci√≥n asociada a un √°mbito espec√≠fico de una organizaci√≥n, de forma estructurada y relacional, de tal manera que pueda ser f√°cilmente accedida y comprendida, con el prop√≥sito de cumplir con los requerimientos de informaci√≥n de la organizaci√≥n. La informaci√≥n se almacena en forma de listas llamadas **tablas** que se estructuran en filas, columnas y celdas, asimismo, en estas bases de datos encontraremos los nombres de cada columna y las relaciones con otras tablas. Todo lo anterior es posible gracias al sistema de administraci√≥n de base de datos (DBMS). Teniendo en cuenta lo anterior, como cientificos de datos debemos tener claridad del entorno (√°mbito) en el que se utiliza la informaci√≥n de las bases de datos, con el fin de que contemos con el conocimiento del dominio para aplicar las t√©cnicas de an√°lisis y depuraci√≥n correctas al momento de realizar las extracciones de los datos desde estas tablas.
*   Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

In [ ]:
 ##Creando el archivo 'prueba.txt' en Python
 %%writefile prueba.txt
Leyendo archivo Python. L√≠nea 1.
Leyendo archivo Python. L√≠nea 2.
Leyendo archivo Python. L√≠nea 3.
Leyendo archivo Python. L√≠nea 4.
Leyendo archivo Python. L√≠nea 5.

Writing prueba.txt

In [ ]:
##Creando el objeto tipo archivo para leer el archivo 'prueba.txt' creado previamente
Archivo = open("prueba.txt", "r")

In [ ]:
##Validando el nombre del archivo
Archivo.name

'prueba.txt'

In [ ]:
##Imprimiendo el modo de apertura del archivo
Archivo.mode

'r'

In [ ]:
##Asign√°ndole el contenido del archivo a una variable
CuerpoArchivo = Archivo.read()
CuerpoArchivo

'Leyendo archivo Python. L√≠nea 1.\nLeyendo archivo Python. L√≠nea 2.\nLeyendo archivo Python. L√≠nea 3.\nLeyendo archivo Python. L√≠nea 4.\nLeyendo archivo Python. L√≠nea 5.\n'

In [ ]:
##Imprimiendo el archivo
print(CuerpoArchivo)

Leyendo archivo Python. L√≠nea 1.
Leyendo archivo Python. L√≠nea 2.
Leyendo archivo Python. L√≠nea 3.
Leyendo archivo Python. L√≠nea 4.
Leyendo archivo Python. L√≠nea 5.

In [ ]:
##Validando el tipo del contenido del archivo
type(CuerpoArchivo)

str

In [ ]:
##Cerrando el archivo
Archivo.close()

In [ ]:
##Validamos si el archivo est√° cerrado
Archivo.closed

True

In [ ]:
##Utilizando la instrucci√≥n with para abrir el archivo
with open("prueba.txt", "r") as ArchivoWith:
    ContenidoArchivoWith = ArchivoWith.read()
    print(ContenidoArchivoWith)

Leyendo archivo Python. L√≠nea 1.
Leyendo archivo Python. L√≠nea 2.
Leyendo archivo Python. L√≠nea 3.
Leyendo archivo Python. L√≠nea 4.
Leyendo archivo Python. L√≠nea 5.

In [ ]:
##Leer los primeros 9 caracteres del contenido del archivo.
with open("prueba.txt", "r") as ArchivoWith:
    print(ArchivoWith.read(9))

Leyendo a

In [ ]:
##Leer diferente n√∫mero de caracteres en el contenido del archivo.
with open("prueba.txt", "r") as ArchivoWith:
    print(ArchivoWith.read(9))
    print(ArchivoWith.read(3))
    print(ArchivoWith.read(18))
    print(ArchivoWith.read(30))
    print(ArchivoWith.read(90))

Leyendo a
rch
ivo Python. L√≠nea
1.
Leyendo archivo Python. L√≠n
ea 2.
Leyendo archivo Python. L√≠nea 3.
Leyendo archivo Python. L√≠nea 4.
Leyendo archivo Py

In [ ]:
##Leer l√≠neas dentro del archivo
with open("prueba.txt", "r") as ArchivoWith:
    print("1era l√≠nea :", ArchivoWith.readline())
    print("1era l√≠nea (5 primeros caracteres) :", ArchivoWith.readline(5))
    print("5 caracteres del archivo:", ArchivoWith.read(5))
    print("2da l√≠nea (5 primeros caracteres) :", ArchivoWith.readline())

1era l√≠nea : Leyendo archivo Python. L√≠nea 1.

1era l√≠nea (5 primeros caracteres) : Leyen
5 caracteres del archivo: do ar
2da l√≠nea (5 primeros caracteres) : chivo Python. L√≠nea 2.

In [ ]:
##Recorriendo las l√≠neas del archivo
with open("prueba.txt","r") as ArchivoWith:
        c = 0;
        for linea in ArchivoWith:
            print("Recorrido", str(c), ": ", linea)
            c = c + 1

Recorrido 0 :  Leyendo archivo Python. L√≠nea 1.

Recorrido 1 :  Leyendo archivo Python. L√≠nea 2.

Recorrido 2 :  Leyendo archivo Python. L√≠nea 3.

Recorrido 3 :  Leyendo archivo Python. L√≠nea 4.

Recorrido 4 :  Leyendo archivo Python. L√≠nea 5.

In [ ]:
##Almacenar las l√≠neas del archivo en una lista
with open("prueba.txt", "r") as ArchivoWith:
    ListaArchivoWith = ArchivoWith.readlines()

##Imprimimos la segunda l√≠nea de la lista
print(ListaArchivoWith[1])

Leyendo archivo Python. L√≠nea 2.

In [ ]:
##Escribiendo en archivos
ArchivoEscritura = "prueba_archivo.txt"
with open(ArchivoEscritura, 'w') as ArchivoEdicion:
  ArchivoEdicion.write("Linea inicial.")

##Leyendo el archivo creado
with open(ArchivoEscritura, 'r') as ArchivoLectura:
  print(ArchivoLectura.read())

Linea inicial.

In [ ]:
#Escribir varias l√≠neas en el archivo
with open(ArchivoEscritura, 'w') as ArchivoEdicion:
  ArchivoEdicion.write("Linea inicial\n")
  ArchivoEdicion.write("Segunda Linea\n")
  ArchivoEdicion.write("√öltima Linea")

#Leer el archivo creado
with open(ArchivoEscritura, 'r') as ArchivoLectura:
    print(ArchivoLectura.read())

Linea inicial
Segunda Linea
√öltima Linea

In [ ]:
#Insertando contenido del archivo a partir de una lista
#1. Creamos la lista
LineasArchivo = ["1er Puesto: Estudiante A\n", "2do Puesto: Estudiante B\n", "3er Puesto: Estudiante C"]
LineasArchivo

['1er Puesto: Estudiante A\n',
 '2do Puesto: Estudiante B\n',
 '3er Puesto: Estudiante C']

In [ ]:
#2. Creamos el contenido del archivo con los items de la lista a trav√©s de un ciclo FOR
with open("Ranking Estudiantes.txt", "w") as RankingEstudiantes:
  for linea in LineasArchivo:
    RankingEstudiantes.write(linea)

#3. Verificamos el contenido del archivo creado
with open("Ranking Estudiantes.txt", 'r') as RankingEstudiantesLectura:
    print(RankingEstudiantesLectura.read())

1er Puesto: Estudiante A
2do Puesto: Estudiante B
3er Puesto: Estudiante C

---
‚ö† **NOTA:** Se debe tener en cuenta que el tipo de apertura 'w' sobreescribir√° el contenido del archivo. Si queremos adicionar nuevas l√≠neas al contenido debemos utilizar el append 'a'.

---

In [ ]:
#Sobreescribimos el contenido del archivo creado anteriormente
with open("Ranking Estudiantes.txt", "w") as RankingEstudiantes:
  RankingEstudiantes.write("Prueba de sobreescritura")

#Verificamos el contenido del archivo
with open("Ranking Estudiantes.txt", 'r') as RankingEstudiantesLectura:
    print(RankingEstudiantesLectura.read())

Prueba de sobreescritura

In [ ]:
#Volvemos a ajustar el contenido del archivo con los items de la lista a trav√©s de un ciclo FOR
with open("Ranking Estudiantes.txt", "w") as RankingEstudiantes:
  for linea in LineasArchivo:
    RankingEstudiantes.write(linea)

#Verificamos el contenido del archivo
with open("Ranking Estudiantes.txt", 'r') as RankingEstudiantesLectura:
    print(RankingEstudiantesLectura.read())

1er Puesto: Estudiante A
2do Puesto: Estudiante B
3er Puesto: Estudiante C

In [ ]:
#Ahora vamos a adicionar una nueva l√≠nea al archivo
with open("Ranking Estudiantes.txt", "a") as RankingEstudiantes:
    RankingEstudiantes.write("\n4to Puesto: Estudiante D")

#Verificamos el contenido del archivo creado
with open("Ranking Estudiantes.txt", 'r') as RankingEstudiantesLectura:
    print(RankingEstudiantesLectura.read())

1er Puesto: Estudiante A
2do Puesto: Estudiante B
3er Puesto: Estudiante C
4to Puesto: Estudiante D

In [ ]:
#Utilizar a+,r+,w+
with open('Ranking Estudiantes.txt', 'a+') as RankingEstudiantes:
    RankingEstudiantes.write("\n5to Puesto: Estudiante E")
    print(RankingEstudiantes.read())

#No observaremos resultados por la ubicaci√≥n del texto en nuestro archivo.

In [ ]:
#Para identificar la ubicaci√≥n del cursor en nuestro texto utilizamos los siguientes comandos.
with open('Ranking Estudiantes.txt', 'a+') as RankingEstudiantes:
    print("Posici√≥n inicial: {}".format(RankingEstudiantes.tell()))
    #Leemos el contenido del archivo
    datos = RankingEstudiantes.read()
    if (not datos):
        print("Sin datos")
    else:
        print(RankingEstudiantes.read())

    #Ubicamos el cursor en la posici√≥n inicial
    print("Se reubicar√° el cursor al inicio")
    RankingEstudiantes.seek(0,0)
    
    print("La nueva posici√≥n inicial es: {}".format(RankingEstudiantes.tell()))
    #Volvemos a leer el contenido del archivo
    datos = RankingEstudiantes.read()
    if (not datos):
        print("Sin datos")
    else:
        print(RankingEstudiantes.read())
    
    print("Ubicaci√≥n despu√©s de lectura: {}".format(RankingEstudiantes.tell()) )

Posici√≥n inicial: 124
Sin datos
Se reubicar√° el cursor al inicio
La nueva posici√≥n inicial es: 0

Ubicaci√≥n despu√©s de lectura: 124

In [ ]:
#¬øComo copiar un archivo?
with open('Ranking Estudiantes.txt','r') as ArchivoOriginal:
    with open('Ranking Egresados.txt','w') as ArchivoCopiado:
          for line in ArchivoOriginal:
                ArchivoCopiado.write(line)

with open('Ranking Egresados.txt','r') as ValidacionCopia:
    print(ValidacionCopia.read())

1er Puesto: Estudiante A
2do Puesto: Estudiante B
3er Puesto: Estudiante C
4to Puesto: Estudiante D
5to Puesto: Estudiante E

In [ ]:
#Ejercicio taller
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [ ]:
def depurararchivos(currentMem, exMem):
    #Abrimos el archivo currentMem en modo lectura/escritura
    with open(currentMem, 'r+') as Estudiantes:
        #Abrimos el archivo exMem en modo adici√≥n/lectura
        with open(exMem, 'a+') as Egresados:
            #Nos ubicamos al inicio del archivo Estudiantes
            Estudiantes.seek(0)
            #Creamos la 'ListaEstudiantes' con el contenido del archivo 'Estudiantes'
            ListaEstudiantes = Estudiantes.readlines()
            #Asignamos a la variable Cabecera el contenido del primer registro (encabezado de columna en la lista)
            Cabecera = ListaEstudiantes[0]
            #Eliminamos el primer registro del contenido de la lista (Encabezado de columna en la lista)
            ListaEstudiantes.pop(0)
            
            #Creamos la lista 'Inactivos' tomando de 'ListaEstudiantes' solo aquellos registros que contengan 'no' en sus registros (no activos)
            Inactivos = [Egresado for Egresado in ListaEstudiantes if ('no' in Egresado)]
            #Nos ubicamos al inicio del archivo Estudiantes
            Estudiantes.seek(0)
            #Escribimos en este archivo inicialmente la cabecera, tomando la variable inicializada en las l√≠neas anteriores
            Estudiantes.write(Cabecera)

            #Recorremos la 'ListaEstudiantes'
            for Egresado in ListaEstudiantes:                    
                #Si el registro (miembro) de la lista se encuentra en la lista de 'Inactivos' creada previamente lo ubicamos en el archivo 'Egresados',
                #de lo contrario lo ubicamos en el archivo de Estudiantes.
                if (Egresado in Inactivos):
                    Egresados.write(Egresado)
                else:
                    Estudiantes.write(Egresado)
               
            Estudiantes.truncate()

        
    pass


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
depurararchivos(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    15225      2017-8-1     yes
    83619      2019-4-11    yes
    29253      2016-5-6     yes
    56144      2015-11-21   yes
    74107      2016-1-12    yes
    91213      2018-4-23    yes
    27319      2019-4-24    yes
    97040      2020-3-23    yes
    16268      2019-3-23    yes
    77058      2016-7-16    yes
    42074      2019-12-15   yes
    54304      2015-11-22   yes
    25682      2018-12-21   yes
    25536      2018-3-15    yes

Inactive Members:


Membership No  Date Joined  Active
    79398      2019-2-16    no
    62110      2018-1-13    no
    45963      2018-4-19    no
    81896      2018-4-22    no
    27494      2015-2-12    no
    31418      2017-11-25   no
    52401      2018-5-2     no
    24743      2019-1-5     no
    69639      2019-11-7    no

In [ ]:
def probardepuraci√≥n(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    depurararchivos(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("El n√∫mero de registros no cuadra. Verifica que tus archivos tienen las mismas cabeceras y formatos.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Egresados en archivo.")
        break
    else:
        if line not in ogWrite:
            print("Informaci√≥n en archivo no es igual al original.")
            passed = False
print ("{}".format(probardepuraci√≥n(passed)))

Test Passed



---

üêº**Aprendiendo el uso de la librer√≠a PANDA**

---

In [ ]:
#Importamos la librer√≠a pandas
import pandas as pd

#Creamos un dataframe con dos columnas y 4 registros
df=pd.DataFrame({'Asignatura':["Matem√°ticas","Geograf√≠a","Ingl√©s", "Algebra"],'Calificaci√≥n':[5.0,4.6,3.9,4.9]})

#Visualizamos los primeros registros del dataframe
df.head()

    Asignatura  Calificaci√≥n
0  Matem√°ticas           5.0
1    Geograf√≠a           4.6
2       Ingl√©s           3.9
3      Algebra           4.9

In [ ]:
#Creando un dataframe a partir de los datos existentes en un archivo csv que se encuentra publicado en internet.
#1. Asignamos a la variable 'MedallasOlimpicas' los datos le√≠dos desde el archivo csv.
MedallasOlimpicas = pd.read_csv (r'http://winterolympicsmedals.com/medals.csv')

#2. Creamos la variable 'dfMedallero' para crear el dataframe con solo 4 campos del archivo le√≠do.
dfMedallero = pd.DataFrame(MedallasOlimpicas, columns= ['Year','Discipline','Event gender','Medal'])
print (dfMedallero)

      Year      Discipline Event gender   Medal
0     1924  Figure skating            M  Silver
1     1924  Figure skating            W    Gold
2     1924  Figure skating            X    Gold
3     1924       Bobsleigh            M  Bronze
4     1924      Ice Hockey            M    Gold
...    ...             ...          ...     ...
2306  2006       Snowboard            M  Silver
2307  2006       Snowboard            W    Gold
2308  2006       Snowboard            W  Silver
2309  2006       Snowboard            M    Gold
2310  2006       Snowboard            W  Silver

[2311 rows x 4 columns]

In [ ]:
#Imprimimos solo los 5 primeros registros del dataframe
dfMedallero.head()

   Year      Discipline Event gender   Medal
0  1924  Figure skating            M  Silver
1  1924  Figure skating            W    Gold
2  1924  Figure skating            X    Gold
3  1924       Bobsleigh            M  Bronze
4  1924      Ice Hockey            M    Gold

In [ ]:
#Accedemos a los datos de la columna 'Discipline'
dfMedallero[['Discipline']]

          Discipline
0     Figure skating
1     Figure skating
2     Figure skating
3          Bobsleigh
4         Ice Hockey
...              ...
2306       Snowboard
2307       Snowboard
2308       Snowboard
2309       Snowboard
2310       Snowboard

[2311 rows x 1 columns]

In [ ]:
#Creamos un dataframe a partir de la columna 'Discipline'
dfDisciplina=dfMedallero[['Discipline']]
dfDisciplina

          Discipline
0     Figure skating
1     Figure skating
2     Figure skating
3          Bobsleigh
4         Ice Hockey
...              ...
2306       Snowboard
2307       Snowboard
2308       Snowboard
2309       Snowboard
2310       Snowboard

[2311 rows x 1 columns]

In [ ]:
#Ahora creamos un dataframe con 2 columnas
dfA√±oGenero=dfMedallero[['Year','Medal']]
dfA√±oGenero

      Year   Medal
0     1924  Silver
1     1924    Gold
2     1924    Gold
3     1924  Bronze
4     1924    Gold
...    ...     ...
2306  2006  Silver
2307  2006    Gold
2308  2006  Silver
2309  2006    Gold
2310  2006  Silver

[2311 rows x 2 columns]

In [ ]:
#Acceder a un valor espec√≠fico.
#Vamos a acceder los valores en la 5ta fila y 2da columna del dataframe, y en la 5ta fila y 4ta columna
print("La medalla de", dfMedallero.iloc[4,1], "es de", dfMedallero.iloc[4,3])

La medalla de Ice Hockey es de Gold

In [ ]:
#Acceder a un valor espec√≠fico.
#Vamos a acceder a los mismo valores indicados anteriormente pero con el nombre de la columna
print("La medalla de", dfMedallero.loc[4,"Discipline"], "es de", dfMedallero.loc[4,"Medal"])

La medalla de Ice Hockey es de Gold

In [ ]:
#Hacer un slice y traer solo los primeros 3 registros de las 3 primeras columnas
dfMedallero.iloc[0:3, 0:3]

   Year      Discipline Event gender
0  1924  Figure skating            M
1  1924  Figure skating            W
2  1924  Figure skating            X

In [ ]:
#Hacieno el mismo slice pero con el nombre de las columnas
dfMedallero.loc[0:3, "Year":"Event gender"]

   Year      Discipline Event gender
0  1924  Figure skating            M
1  1924  Figure skating            W
2  1924  Figure skating            X
3  1924       Bobsleigh            M

In [ ]:
#Traer los valores √∫nicos de la columna 'Discipline' para saber cuantas disciplinas existen en el conjunto de datos.
dfMedallero['Discipline'].unique()

array(['Figure skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon',
       'Speed skating', 'Cross Country S', 'Curling', 'Nordic Combined',
       'Ski Jumping', 'Skeleton', 'Alpine Skiing', 'Luge',
       'Short Track S.', 'Freestyle Ski.', 'Snowboard'], dtype=object)

In [ ]:
#Obtener las disciplinas que se realizaron solo en el 2002
dfMedallero[dfMedallero['Year']==2002]

      Year      Discipline Event gender   Medal
1825  2002  Short Track S.            M    Gold
1826  2002  Freestyle Ski.            W    Gold
1827  2002        Biathlon            M  Bronze
1828  2002        Skeleton            M  Silver
1829  2002            Luge            M  Bronze
...    ...             ...          ...     ...
2054  2002       Snowboard            M  Bronze
2055  2002       Snowboard            M  Bronze
2056  2002       Snowboard            M    Gold
2057  2002       Snowboard            M  Silver
2058  2002       Snowboard            W    Gold

[234 rows x 4 columns]