<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793509/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Tuple1=("Valor 1", 2500, 25.43)
Tuple1

('Valor 1', 2500, 25.43)

In [3]:
type(Tuple1)

tuple

In [5]:
print("Valor celda 1: ", Tuple1[0])
print("Valor celda 2: ", Tuple1[1])
print("Valor celda 3: ", Tuple1[2])

Valor celda 1:  Valor 1
Valor celda 2:  2500
Valor celda 3:  25.43

In [6]:
print("Tipo dato celda 1: ", type(Tuple1[0]))
print("Tipo dato celda 2: ", type(Tuple1[1]))
print("Tipo dato celda 3: ", type(Tuple1[2]))

Tipo dato celda 1:  <class 'str'>
Tipo dato celda 2:  <class 'int'>
Tipo dato celda 3:  <class 'float'>

In [8]:
Tuple1[-3]
Tuple1[-2]
Tuple1[-1]

25.43

Ahora vamos a aumentar las celdas del tuple a través de la concatenación

In [9]:
Tuple2 = Tuple1 + ("Valor adicional", 45)
Tuple2

('Valor 1', 2500, 25.43, 'Valor adicional', 45)

In [15]:
#Slicing desde la posición 0 hasta la 4
Tuple2[0:4]

('Valor 1', 2500, 25.43, 'Valor adicional')

In [18]:
#Slicing desde la posición 3 hasta la 5
Tuple2[3:5]

('Valor adicional', 45)

In [20]:
#Longitud del tuple
print("Longitud tuple1: ", len(Tuple1))
print("Longitud tuple2: ", len(Tuple2))

Longitud tuple1:  3
Longitud tuple2:  5

In [21]:
#Probando ordenamiento de tuple
Calificaciones = (4.5,3.8,2.2,5.0,3.7)
CalificacionesOrdenadas = sorted(Calificaciones)
CalificacionesOrdenadas

[2.2, 3.7, 3.8, 4.5, 5.0]

In [22]:
#Tuples anidados
TupleAnidado =((3.5, 4.8), ("Math", "Geometry") ,(2,8),("Valor anidado",(4,9)))
TupleAnidado

((3.5, 4.8), ('Math', 'Geometry'), (2, 8), ('Valor anidado', (4, 9)))

In [37]:
#Acceder a los valores de los tuples anidados
print("Valor del tuple1", TupleAnidado[0])
print("Valor del tuple2", TupleAnidado[1])
print("Valor del tuple3", TupleAnidado[2])
print("Valor del tuple4", TupleAnidado[3])

Valor del tuple1 (3.5, 4.8)
Valor del tuple2 ('Math', 'Geometry')
Valor del tuple3 (2, 8)
Valor del tuple4 ('Valor anidado', (4, 9))

In [36]:
#Acceder a un elemento específico de uno de los tuples anidados
print("Elemento 0 de tuple1", TupleAnidado[0][0])
print("Elemento 1 de tuple2", TupleAnidado[1][1])
print("Elemento 0 de tuple3", TupleAnidado[2][0])
print("Elemento 1 de tuple4", TupleAnidado[3][1])

Elemento 0 de tuple1 3.5
Elemento 1 de tuple2 Geometry
Elemento 0 de tuple3 2
Elemento 1 de tuple4 (4, 9)

In [40]:
#Acceder a una letra del valor str de uno de los tuples
print("La última letra del elemento 1 del tuple2 es: ",TupleAnidado[1][1][7])
print("La primera letra del elemento 1 del tuple2 es: ",TupleAnidado[1][1][0])

La última letra del elemento 1 del tuple2 es:  y
La primera letra del elemento 1 del tuple2 es:  G

In [44]:
#Longitud de cada tuple anidado
print("La longitud del tuple anidado 1 es: ",len(TupleAnidado[0]))
print("La longitud del tuple anidado 2 es: ",len(TupleAnidado[1]))
print("La longitud del tuple anidado 3 es: ",len(TupleAnidado[2]))
print("La longitud del tuple anidado 4 es: ",len(TupleAnidado[3]))

La longitud del tuple anidado 1 es:  2
La longitud del tuple anidado 2 es:  2
La longitud del tuple anidado 3 es:  2
La longitud del tuple anidado 4 es:  2

In [46]:
#Encontrar el indice de la primera coincidencia de Geometry en el tuple anidado
TupleAnidado[1].index("Geometry")

1