<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793509/blob/main/IBM%20-%20Data%20Analysis%20with%20Python/Semana%205%20-%20Data%20Analysis%20with%20Python%20(IBM)%20(M%C3%B3dulo%202).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

üìÖ Semana 5

üöÄ Curso: Data Analysis with Python (IBM: DA0101EN)

üìñ M√≥dulo 2

Alberto Jos√© Garc√≠a Porras (**A01793509**)


---

‚ö† **T√©cnicas de preprocesamiento de datos:**


*   Es importante, antes de comenzar con el an√°lisis de los datos, revisar el conjunto con el fin de encontrar datos perdidos, con formato errado o cualquier otra anomal√≠a y validar si se deben corregir en aras de que impacten nuestro posterior an√°lisis.


*   A estas t√©cnicas se les conocce como **data cleaning** or **data wrangling**. 

*   Existen tres conceptos clave en las t√©cnicas de preprocesamiento:
  *  **Estandarizaci√≥n**; que nos permite llevar a un mismo formato, una misma unidad o una misma convenci√≥n los datos del conjunto.
  *  **Normalizaci√≥n**; que nos permite llevar los datos a un rango com√∫n.
  *  **Agrupamiento**; que nos permite crear categor√≠as o agrupaciones a partir de los valores num√©ricos de nuestro conjunto.

---

‚òù **NOTA:** Trabajaremos con la base de datos **food-consumption.csv** que contiene informaci√≥n del consumo de ciertos tipos de comida en Europa y los pa√≠ses Escandinavos. Los valores mostrados en cada columna corresponden al porcentaje de la poblaci√≥n que consume ese tipo de alimento.

---

üëì Siguiendo lo aprendido en el m√≥dulo 1 utilizaremos el m√©todo **read_csv()** de la librer√≠a **Pandas** para leer los datos e introducirlos en nuestro dataframe.

---

In [23]:
#Importamos la librer√≠a pandas y leemos el archivo weight-height.csv
import pandas as pd
url = "https://openmv.net/file/food-consumption.csv"
df = pd.read_csv(url)
#Visualizamos los primeros 10 registros
df.head(10)

,Country,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,...,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
0,Germany,90,49,88,19.0,57.0,51,19,21,27,...,81,75,44,71,22,91,85,74,30.0,26
1,Italy,82,10,60,2.0,55.0,41,3,2,4,...,67,71,9,46,80,66,24,94,5.0,18
2,France,88,42,63,4.0,76.0,53,11,23,11,...,87,84,40,45,88,94,47,36,57.0,3
3,Holland,96,62,98,32.0,62.0,67,43,7,14,...,83,89,61,81,15,31,97,13,53.0,15
4,Belgium,94,38,48,11.0,74.0,37,23,9,13,...,76,76,42,57,29,84,80,83,20.0,5
5,Luxembourg,97,61,86,28.0,79.0,73,12,7,26,...,85,94,83,20,91,94,94,84,31.0,24
6,England,27,86,99,22.0,91.0,55,76,17,20,...,76,68,89,91,11,95,94,57,11.0,28
7,Portugal,72,26,77,2.0,22.0,34,1,5,20,...,22,51,8,16,89,65,78,92,6.0,9
8,Austria,55,31,61,15.0,29.0,33,1,5,15,...,49,42,14,41,51,51,72,28,13.0,11
9,Switzerland,73,72,85,25.0,31.0,69,10,17,19,...,79,70,46,61,64,82,48,61,48.0,30

---

‚òù **NOTA:** Ahora comenzaremos a buscar valores faltantes en el conjunto. Normalmente estos valores los observaremos como "?" o NaN. Existen varias formas de buscar valores nulos o NaN en el conjunto de datos, a continuaci√≥n evaluaremos algunas de ellas.

---

In [24]:
#Nos mostrar√° con 'True' aquellas columnas en las que existen valores perdidos
df.isna().any()

Country           False
Real coffee       False
Instant coffee    False
Tea               False
Sweetener          True
Biscuits           True
Powder soup       False
Tin soup          False
Potatoes          False
Frozen fish       False
Frozen veggies    False
Apples            False
Oranges           False
Tinned fruit      False
Jam               False
Garlic            False
Butter            False
Margarine         False
Olive oil         False
Yoghurt            True
Crisp bread       False
dtype: bool

---

üëì Observamos que de las 21 columnas solo las columnas de endulzantes (Sweetener), bizcochos (Biscuits) y Yoghurt contienen datos perdidos. Validemos ahora la informaci√≥n faltante por cada columna.

---

In [37]:
#Creamos un dataframe llamado "dataperdida" en el que guardaremos los datos faltantes del dataframe original "df"
dataperdida = df.isna()
dataperdida

#Recorremos las columnas obtenidas en "dataperdida" y vamos imprimiendo la cantidad de registros con valores perdidos (True) y valores correctos (False)
for column in dataperdida.columns.values.tolist():
    print(column)
    print (dataperdida[column].value_counts())
    print("")

Country
False    16
Name: Country, dtype: int64

Real coffee
False    16
Name: Real coffee, dtype: int64

Instant coffee
False    16
Name: Instant coffee, dtype: int64

Tea
False    16
Name: Tea, dtype: int64

Sweetener
False    15
True      1
Name: Sweetener, dtype: int64

Biscuits
False    15
True      1
Name: Biscuits, dtype: int64

Powder soup
False    16
Name: Powder soup, dtype: int64

Tin soup
False    16
Name: Tin soup, dtype: int64

Potatoes
False    16
Name: Potatoes, dtype: int64

Frozen fish
False    16
Name: Frozen fish, dtype: int64

Frozen veggies
False    16
Name: Frozen veggies, dtype: int64

Apples
False    16
Name: Apples, dtype: int64

Oranges
False    16
Name: Oranges, dtype: int64

Tinned fruit
False    16
Name: Tinned fruit, dtype: int64

Jam
False    16
Name: Jam, dtype: int64

Garlic
False    16
Name: Garlic, dtype: int64

Butter
False    16
Name: Butter, dtype: int64

Margarine
False    16
Name: Margarine, dtype: int64

Olive oil
False    16
Name: Olive oil, dtype: int64

Yoghurt
False    15
True      1
Name: Yoghurt, dtype: int64

Crisp bread
False    16
Name: Crisp bread, dtype: int64

---

‚úç Ahora podemos observar que de los 16 registros existentes en el conjunto de datos, solo 1 registro presenta valor perdido para las columnas mencionadas anteriormente (Sweetener, Biscuits y Yoghurt).

---

üìö Sabemos que existen varias t√©cnicas para gestionar la data perdida:
*   Eliminar los registros con datos perdidos
*   Eliminar las columnas con datos perdidos
*   Reemplazar los datos perdidos utilizando el promedio de la columna
*   Reemplazar los datos perdidos utilizando la frecuencia (moda) de la columna
*   Reemplazar los datos perdidos bas√°ndonos en otras funciones


---



‚òù**PARA TENER EN CUENTA:** La t√©cnica que utilicemos depender√° del an√°lisis que hagamos de los datos perdidos, ya que la escogencia de una u otra opci√≥n podr√≠a impactar la integridad de nuestro conjunto de datos. Por ejemplo; si optamos por utilizar la eliminaci√≥n de las columnas con datos perdidos, podr√≠amos perder informaci√≥n clave de otros registros que no tienen datos perdidos.


---

üë£ **Reemplazo utilizando promedio de columna con datos perdidos**: Esta t√©cnica la aplicaremos a la columna "Sweetener" por lo cual inicialmente obtendremos el promedio en una variable para utilizar en la funci√≥n de reemplazo posteriormente. Crearemos una copia del dataframe original para validar todas las t√©cnicas de ajuste de datos perdidos.

In [41]:
#Importamos la librer√≠a numpy
import numpy as np

In [43]:
#Copiamos el dataframe original
dfCopia = df.copy()
#Aplicaremos a la columna "Sweetener" un reemplazo de datos utilizando el promedio de la columna.
mean_Sweetener = dfCopia["Sweetener"].mean(axis=0)
mean_Sweetener
#Reemplazamos los valores faltantes por el promedio calculado anteriormente
dfCopia["Sweetener"].replace(np.nan, mean_Sweetener, inplace=True)

print("Se ajustaron los valores perdidos con el siguiente valor promedio para la columna Sweetener:",mean_Sweetener)

Se ajustaron los valores perdidos con el siguiente valor promedio para la columna Sweetener: 18.0

In [60]:
#Validamos si efectivamente este es el promedio (mean) de la columna
dfCopia[["Sweetener"]].describe(include="all")

       Sweetener
count  15.000000
mean   17.866667
std    10.888176
min     2.000000
25%    11.000000
50%    18.000000
75%    26.500000
max    35.000000

In [45]:
#Validamos si se ajust√≥ correctamente el valor perdido en la columna "Sweetener", verificando que no aparezca en verdadero con el siguiente comando
dfCopia.isna().any()

Country           False
Real coffee       False
Instant coffee    False
Tea               False
Sweetener         False
Biscuits           True
Powder soup       False
Tin soup          False
Potatoes          False
Frozen fish       False
Frozen veggies    False
Apples            False
Oranges           False
Tinned fruit      False
Jam               False
Garlic            False
Butter            False
Margarine         False
Olive oil         False
Yoghurt            True
Crisp bread       False
dtype: bool


---

üë£ **Reemplazo utilizando la frecuencia (moda) de la columna con datos perdidos**: Esta t√©cnica la aplicaremos a la columna "Biscuits" por lo cual inicialmente obtendremos el valor que m√°s se repite en una variable para utilizarla en la funci√≥n de reemplazo posteriormente. Seguimos trabajando con el dataframe de copia.

In [46]:
#Aplicaremos a la columna "Biscuits" un reemplazo de datos utilizando el frecuente de la columna.
Frec_Biscuits = df['Biscuits'].value_counts().idxmax()
mean_Sweetener
#Reemplazamos los valores faltantes por el frecuente obtenido anteriormente
dfCopia["Biscuits"].replace(np.nan, Frec_Biscuits, inplace=True)

print("Se ajustaron los valores perdidos con el siguiente valor frecuente para la columna Biscuits:",Frec_Biscuits)

Se ajustaron los valores perdidos con el siguiente valor frecuente para la columna Biscuits: 62.0

In [47]:
#Validamos si se ajust√≥ correctamente el valor perdido en la columna "Biscuits", verificando que no aparezca en verdadero con el siguiente comando
dfCopia.isna().any()

Country           False
Real coffee       False
Instant coffee    False
Tea               False
Sweetener         False
Biscuits          False
Powder soup       False
Tin soup          False
Potatoes          False
Frozen fish       False
Frozen veggies    False
Apples            False
Oranges           False
Tinned fruit      False
Jam               False
Garlic            False
Butter            False
Margarine         False
Olive oil         False
Yoghurt            True
Crisp bread       False
dtype: bool


---

üë£ **Eliminaci√≥n de registros con valores faltantes**: Esta t√©cnica la aplicaremos a la columna "Yoghurt" por lo cual se eliminar√° 1 registro del dataframe de acuerdo al an√°lisis que  hicimos en los puntos anteriores. Seguimos trabajando con el dataframe de copia.

In [48]:
#Simplemente indicamos la columna a la que queremos aplicarle esta t√©cnica y el par√°metro axis=0 para que sepa que debe borrar los registros que tengan faltantes
dfCopia.dropna(subset=["Yoghurt"], axis=0, inplace=True)
#Reseteamos el indice del dataframe debido a la eliminaci√≥n del registro
dfCopia.reset_index(drop=True, inplace=True)

In [49]:
#Validamos si se ajust√≥ correctamente el valor perdido en la columna "Biscuits", verificando que no aparezca en verdadero con el siguiente comando
dfCopia.isna().any()

Country           False
Real coffee       False
Instant coffee    False
Tea               False
Sweetener         False
Biscuits          False
Powder soup       False
Tin soup          False
Potatoes          False
Frozen fish       False
Frozen veggies    False
Apples            False
Oranges           False
Tinned fruit      False
Jam               False
Garlic            False
Butter            False
Margarine         False
Olive oil         False
Yoghurt           False
Crisp bread       False
dtype: bool

In [50]:
#Asimismo podemos validar datos estad√≠sticos de nuestras columnas num√©ricas con el fin de detectar rangos o valores at√≠picos.
dfCopia.describe()

,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,Frozen veggies,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,77.266667,41.066667,78.133333,17.866667,60.533333,50.466667,18.866667,13.066667,22.133333,16.133333,67.933333,71.40000,43.266667,56.40000,44.133333,74.466667,67.466667,56.666667,20.533333,25.333333
std,23.349722,22.748522,19.130629,10.888176,19.823747,14.769015,20.760081,9.823199,14.431447,13.195598,17.596536,14.03974,23.435220,22.84044,35.093481,20.914338,26.930775,28.034842,18.980692,23.894610
min,27.000000,10.000000,40.000000,2.000000,22.000000,32.000000,1.000000,2.000000,4.000000,2.000000,22.000000,42.00000,8.000000,16.00000,5.000000,31.000000,24.000000,13.000000,2.000000,3.000000
25%,71.000000,21.500000,62.000000,11.000000,56.000000,39.000000,3.500000,6.000000,13.500000,6.000000,58.000000,69.00000,32.000000,43.00000,11.000000,64.000000,47.500000,30.500000,5.500000,10.000000
50%,88.000000,40.000000,85.000000,18.000000,62.000000,51.000000,12.000000,11.000000,20.000000,14.000000,76.000000,72.00000,44.000000,57.00000,29.000000,82.000000,78.000000,57.000000,13.000000,18.000000
75%,95.000000,56.500000,92.500000,26.500000,75.000000,61.000000,21.000000,17.000000,26.500000,22.000000,81.000000,77.50000,51.500000,73.00000,83.000000,93.000000,92.500000,83.500000,30.500000,29.000000
max,97.000000,86.000000,99.000000,35.000000,91.000000,75.000000,76.000000,39.000000,54.000000,45.000000,87.000000,94.00000,89.000000,91.00000,91.000000,97.000000,97.000000,94.000000,57.000000,93.000000

In [ ]:
#Si queremos evaluar los datos estad√≠sticos de nuestras columnas no numer√≠cas agregamos la instrucci√≥n include = "all".
df.describe(include="all")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

‚Ñπ Como podemos observar en las columnas que por su tipo no se puede obtener un valor estad√≠stico, el sistema le asignar√° el valor "NaN".

In [ ]:
#Podemos tambi√©n obtener los datos estad√≠sticos de columnas espec√≠ficas
df[['symboling', 'engine-size']].describe()

        symboling  engine-size
count  205.000000   205.000000
mean     0.834146   126.907317
std      1.245307    41.642693
min     -2.000000    61.000000
25%      0.000000    97.000000
50%      1.000000   120.000000
75%      2.000000   141.000000
max      3.000000   326.000000